/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#navigation-container {
  border-bottom: 1px solid #9392c7;
}
#navigation {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}
#navigation .name-navigation {
  font-size: 1.6rem;
  padding: 1% 0;
  color: #9392c7;
  font-family: 'Pacifico', cursive;
}
#navigation nav {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-evenly;
  max-width: 75%;
  text-align: center;
  align-items: centerA;
}
#navigation nav .link {
  padding: 0 10%;
  color: #FAFAFF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
}
#navigation nav .link:hover {
  background: #9392c7;
  color: #FAFAFF;
}
#navigation nav .link:hover a {
  color: #FAFAFF;
}
#navigation nav a {
  color: #9392c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation nav a:hover {
  color: #FAFAFF;
}
.header {
  background: #9392c7;
  height: 100vh;
  position: relative;
}
.header .name {
  margin: auto;
  max-width: 50%;
}
.header .name-container {
  margin: auto;
  position: relative;
  top: 5%;
}
.header .about-container {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  max-width: 80%;
}
.header .about-container img {
  height: auto;
  border: 2px solid #FAFAFF;
  max-width: 100%;
  border-radius: 10px;
}
.header .about {
  margin: 0 10%;
  color: #FAFAFF;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}
.header .about .social {
  margin: 2% 0 0 0;
}
.header .about .social a {
  color: #FAFAFF;
}
.header svg {
  text-align: center;
  margin-top: 17%;
}
.header .more {
  background: none;
  border: 1px solid white;
  margin: 2% auto;
  padding: 5px 40px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.header .more:hover {
  background: white;
  border: 1px solid #9392c7;
  color: #9392c7;
}
#skills h3 {
  color: #453A57;
  text-align: center;
  font-size: 2.5rem;
}
#skills .skills-container {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#skills .skills-container .skill {
  background: #453A57;
  color: #FAFAFF;
  min-width: 10%;
  text-align: center;
  padding: 1%;
  margin: 3%;
  margin-bottom: 1%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #453A57;
}
#skills .skills-container .skill:hover {
  background: #FAFAFF;
  color: #453A57;
}
#projects h3 {
  color: #453A57;
  text-align: center;
  font-size: 2.5rem;
}
#projects .projects-container {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#projects .projects-container .project {
  max-width: 45%;
}
.h3-style {
  color: #453A57;
  text-align: center;
  font-size: 2.5rem;
}
.section-style {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body {
  font-size: 62.5%;
}
body section {
  padding: 2.5% 0;
}
