.header{
    background: #453A57;  
    height: 100vh; 
    .name{
        margin:auto;
        width: 50%;
        
    }

    .about{
        margin:0 10%;
        color:white;
        font-family: 'Roboto Mono', monospace;
    }
    svg{
       text-align: center;
       margin-top:25%;
    }

    .more{
        background:none;
        border:1px solid white; 
        margin: 10% auto; 
        padding: 5px 40px; 
        border-radius: 5px; 
        color:white;
       text-align: center;

       &:hover{
           background:white;
           border: 1px solid #453A57; 
           color: #453A57;
       }
    }
}