

#navigation{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    padding: 1% 0;
    margin: auto;

    .name-navigation{
        font-size: 1.3rem;
        color: @dark-purple;
        font-family: 'Pacifico', cursive;
    }

    nav{
        display:flex;
        font-size: 1.1rem;
        justify-content: space-evenly;
        max-width: 75%;

        a{
            padding: 0 10%;
            color: @dark-purple;

        }
    }
}
