#projects{

    


    h3{
        .h3-style();
    }
    .projects-container{
        display: flex; 
        flex-wrap: wrap;
        .section-style(); 

        .project{
            max-width: 45%; 
        }
    }
}