#projects{



    a {
        color: @dark-purple;

        &:hover{
            color: @main-color;
        }

    }
    h3{
        .h3-style();

    }
    .projects-container{
        display: flex;
        flex-wrap: wrap;
        .section-style();
        max-width: 90%;
        margin-bottom: 10%;




        .project{
            max-width: 45%;
            padding: 2.5%;

            @media (max-width: 700px){
                max-width: 60%;
            }

            @media (max-width: 500px){
                max-width: 90%;
            }

            .title-container{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                margin: auto;
                font-size: 2rem;
                a{
                    padding: 0 3%;
                }


            }
            h5{
                font-size: 1.5rem;
                text-align: center;

                @media (max-width: 500px){

                }
            }

            .summary{
                color: @dark-purple;
                font-size: 1.2rem;
            }

            ul{
                list-style-type: circle;
            }
            .stack{

                margin: auto;
                text-align:center;

                i{
                    padding: 1%;
                    color: @main-color;
                    font-size: 3rem;

                    @media (max-width: 610px){
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
