#skills{
    h3{
        color: @dark-purple; 
        text-align: center;
        font-size: @section-header;
    }

    .skills-container{
        max-width: 90%;
        margin: auto; 
        

        .skill{
            background: @dark-purple; 
            color: @off-white; 
            
    
    
            &:hover{
                background:@off-white; 
                border: 1px solid @dark-purple; 
                color: @dark-purple; 
            }
        }

    }

}