#skills{
    h3{
        color: @dark-purple; 
        text-align: center;
        font-size: @section-header;
    }


    .skill{
        background: @dark-purple; 
        color: @off-white; 


        &:hover{
            background:@off-white; 
            border: 1px solid @dark-purple; 
            color: @dark-purple; 
        }
    }
}